<template name="channel">
  {{#contentFor 'header'}}
  {{> channelHeader}}
  {{/contentFor}}

  <ul>
    {{#each messages}}
    {{#if date}}
    <h2>{{date}}</h2>
    {{/if}}
    <li>
      {{#if avatar}}
      <img src="{{image}}" class="avatar">
      {{/if}}
      <div class="message-body">
        <div><span class="username">{{user.username}}</span> <span class="time">{{time}}</span></div>
        {{> messageBody}}
      </div>
    </li>
    {{/each}}
  </ul>

  {{#contentFor 'footer'}}
  {{> messageForm}}
  {{/contentFor}}

  <detail>
    <h1 class="scoreboardTitle">Scoreboard:</h1>
    {{#if points}}
      {{#each points}}
        <p class="points">{{this.name}} - {{this.points}}</p>
      {{/each}}
    {{else}}
    <p>No points</p>
    {{/if}}
  </detail>

  {{> home}}
</template>

<template name="messageBody">
  <div class="message">{{#markdown}}{{{message}}}<span class="artist">&nbsp;- {{artist}}</span>{{/markdown}}
  </div>
</template>

<template name="messageForm">
  <div class="errorMessage"></div>
  <form>
    <textarea rows="1" cols="100"></textarea>
  </form>
</template>

<template name="channelHeader">
    <h1>{{channel.name}} <button style="margin-left: 50px;" type="button" class="button" id="startGameButton">{{gameStateButton}}</button><button style="margin-left: 20px;" class="button">Save playlist - coming soon</button></h1>
</template>
